body {
  background: #ecedfa;
  color: rgb(20, 20, 20);
  font-family: 'Open Sans', arial, sans-serif;
}

#home-section {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7)),
    url(../img/Banner-image-cropped.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 45%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: transparent;
  color: white;
}

.font-alt-no-space {
  font-family: Dosis, arial, sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.font-alt {
  font-family: Dosis, arial, sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.banner-text {
  justify-content: center;
  display: flex;
  height: 100vh;
}

.fab:hover {
  opacity: 0.7;
  color: white;
}

a {
  color: white;
}

.contact:hover {
  border-bottom: white;
  color: white !important;
  transition-duration: 0.4s;
  opacity: 0.7;
}
