body {
  background: #ecedfa;
  color: rgb(20, 20, 20);
  font-family: 'Open Sans', arial, sans-serif;
}

#home-section {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7)),
    url(../img/Banner-image-cropped.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 45%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.font-alt-no-space {
  font-family: Dosis, arial, sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.font-alt {
  font-family: Dosis, arial, sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.card-title {
  font-family: Dosis, arial, sans-serif;
  /* text-transform: uppercase; */
  letter-spacing: 0.1em;
  font-size: 29px;
  /* font-weight: 400; */
}

.section-title {
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.4rem;
}

.section-text {
  font-size: 15px;
  font-weight: 300;
  color: #777;
  line-height: 1.7;
  text-align: justify;
}

.banner-text {
  justify-content: center;
  display: flex;
  height: 100vh;
}

.btn {
  min-width: 120px;
  background-color: rgba(0, 0, 0, 0.212);
  border: #fff solid 0.5px;
  color: #fff;
  text-decoration: none;
  outline: none !important;
}

.btn:hover {
  min-width: 120px;
  background-color: rgba(167, 167, 167, 0.212);
  border: #fff solid 0.5px;
  color: #fff;
  text-decoration: none;
  outline: none !important;
}

.btn a {
  text-decoration: none;
  color: white;
}

#parallax-image {
  /* #my-story { */
  min-height: 150px;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(https://res.cloudinary.com/dyy8g76av/image/upload/v1586752138/parallax-img_ffefgm.jpg);
  /* background-repeat: no-repeat; */
  background-attachment: fixed;
  /* opacity: 0.5; */
  color: white;
}

#my-story {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(https://res.cloudinary.com/dyy8g76av/image/upload/v1586752138/parallax-img_ffefgm.jpg);

  color: white;
  background-attachment: fixed;
}

.card {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card-img-overlay {
  color: transparent;
}

.card:hover .card-img-overlay {
  color: #fff;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  transition-duration: 0.6s;
}

.card:hover .card-text {
  opacity: 0.6;
}

.card-body {
  justify-content: center;
  display: flex;
  align-items: center;
  height: 100%;
}

#contact {
  color: white;
  background: #1b2024;
  /* background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(https://res.cloudinary.com/dyy8g76av/image/upload/v1586752138/parallax-img_ffefgm.jpg); */
}

.contact-link {
  font-size: 30px;
}

.contact-icon {
  color: rgb(124, 124, 124);
}

.contact-icon:hover {
  color: #fff;
}

#contact {
  background-attachment: fixed;
}

#footer-img {
  height: 100px;
  border-radius: 50px;
}

#my-story a {
  color: white;
  text-decoration: underline;
}

#my-story a:hover {
  color: green;
}
